*{
    background-color: black;
}

.container{
    background-color: black;
}

.header{
   width: 100%;
   margin-top: -15px;
   overflow: hidden;
   background-color: black;
   display: flex;
   align-items: center;
}

.logo{
    float: left;
}

.logo > img {
    width: 180px;
    height: 70px;
}

.menu{
    width: 55%;
    float: left;
}

menu > ul{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    float: left;
    align-self: flex-start;
}

.menu li{
    display: inline-block ;
}

.menu a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
  }

  .menu a:hover {
    background-color: #655d5d;
    color: rgb(255, 255, 255);
  }

  .menu input[type=text]{
    float: right;
    width: 300px;
    padding: 12px;
    border: none;
    margin-top: -15px;
    margin-left: 90px;
    font-size: 17px;
    align-self: center;
    background-color: #414040a8;
    border-radius: 10px;
    color: #fffcfc;
  }

  .menu a img{
    width: 45px;
    height: 45px;
    background-color: #62606074;
    border-radius: 15px;
}

.slider img{
    margin-top: -10px;
    margin-left: 50px;
    width: 800px;
    height: 500px;
    display: inline;
}
.menu button > img{
    width: 45px;
    height: 45px;
    border-color: black;
}
.menu button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.slider h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e7e7;
    margin-left: 935px;
    margin-top: 50px;

}
.slider h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a6a2a2b9;
    margin-top: 50px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: normal;
    text-align: center;
}

.slider li{
    display: inline-block ; 
}

.slider ul{
    color: #655d5d;
}

.slider .indetend{
    padding-left: 50px;
    padding-right: 70px;
    text-align:start;
    margin-top: -500px;
}
.slider p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e7e7;
    margin-left: 890px;
    font-size: large;
}

.comment-box {
    background-color: #e7e7e7;
    border-radius: 6px;
    box-shadow: 0 2px 2px black;
}

.post-comment .list .user {
    height: 38px;
    width: 38px;
    margin-right: 10px;
    background-color: #e7e7e7;
    border-radius: 50%;
    box-shadow: 0 2px 2px black;
}

.comment-session{
    width: 650px;
    height: auto;
    margin: 0 auto;
}